JWT_SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=sqlite:///./hireflow.db
OPENAI_API_KEY=
SARVAM_API_KEY=
GROQ_API_KEY=
JDOODLE_CLIENT_ID=
JDOODLE_CLIENT_SECRET=
CLOUD_NAME=
CLOUDINARY_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TAVILY_API_KEY=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=
BEYOND_PRESENCE_API_KEY=
AVATAR_ID=
